.container {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.margem_A{
    background-color: aliceblue;
    width: 525px;
    height: 425px;
    border: 5px solid;
    margin: 25px;
}

.canoa{
    background-color: aliceblue;
    width: 325px;
    height: 425px;
    border: 5px solid;    
} 


.margem_b{
    background-color: aliceblue;
    width: 525px;
    height: 425px;
    border: 5px solid;
    margin: 25px;
}
h1, h2, h3 {
    text-align: center;
    color: black;
}
button {
    background: brown;
    border: none;
    color: black;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}
.minuto{
    margin-left: 1200px;
}

